# Dependencies and builds
node_modules
.next
out
dist
build

# Env and local config
.env
.env.*
.vercel

# OS / editor
.DS_Store
.idea
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

